@using trivia.Icons

<section class="play-page @(GameState.Stage > -1 ? "show" : "")">

    <div class="header">
        <div class="logo">
            <UntitldFullIcon Width="160" Height="80" Light /> TRIVIA
        </div>

        <div class="wait-message">
             Question @((GameState.Stage + 1).ToString("00"))
        </div>
    </div>

    <div class="body">

        <div class="player-scores">
            <h3>Scoreboard</h3>

            <div class="scores">
                @* @for (var i = 1; i <= 30; i++)
                {
                    <div class="score">
                        <span>#@i.ToString("00")</span>
                        <span>Player</span>
                        <span>1300</span>
                    </div>
                }
 *@
                 @{
                    var players = this.GameState.Players.Where(x => !string.IsNullOrWhiteSpace(x.Name) && x.Online);
                }
                @for (var i = 0; i < players.Count(); i++)
                {
                    var player = players.ElementAt(i);
                    <div class="score">
                        <span>#@((i + 1).ToString("00"))</span>
                        <span>@player.Name</span>
                        <span>@player.Score.FlatScore</span>
                        @* <strong>@player.Score.ScoreWithPanelty</strong> *@
                    </div>
                }
            </div>
        </div>

        <div class="team-scores">
            <h3>Team Score</h3>

            <div class="scores">
                @foreach (var team in this.GameState.TeamScore.Keys)
                {
                    var color = Misc.GetTeam(team).Color;
                    var scoreWidth = 60;
                    <div class="team-score" style="color: @color;">
                        <div>
                            <span>@team</span>
                            <span>@this.GameState.TeamScore[team].FlatScore</span>
                        </div>
                        <div class="score-bar" style="border-color: @color;">
                            <div style="background-color: @color;width: @scoreWidth%;"></div>
                        </div>
                        @* <strong>@this.GameState.TeamScore[team].FlatScore</strong> *@
                    </div>
                }
            </div>
        </div>
         @* Game Left:
        <div style="width:@(
        GameState.SecondsSinceGameStart == 0 ? 100 :
        (1.0 - ((double) GameState.SecondsSinceGameStart / (double) (GameState.Questions.Count * GameState.SecondsPerStage))) * 100)%" class="progress">
        </div> *@


        
    </div>

    <div class="crowd-score">
        <h3>Wisdon of the crowd</h3>
        <div class="score-bar">
            <div style="width: @(78)%">@this.GameState.WisdomOfTheCrowd.FlatScore</div>
        </div>
        @* <strong>@this.GameState.WisdomOfTheCrowd.ScoreWithPanelty</strong> *@
    </div>
    
</section>

@code {
    [Parameter]
    public State.Game GameState { get; set; } = default!;
}